@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: overlay;
}

body {
  background-color: #eee;
}

.container {
  background: #333;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  background-color: #0C0B0B;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
}

header .box-type {
  margin-left: 20px;
}

.box-type select {
  color: #0f0;
  background: black;
  padding: 4px 5px;
  margin-top: 3px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
  border: 2px solid #fff;
}

.box-type select:hover,
.box-type select:focus{
  border:2px solid cyan;
}

.box-type select option {
  font-size: 14px;
}

.box-type select:focus option {
  text-align: left;
}

.title h2 {
  color: white;
  font-size: 30px;
}

header .logo {
  margin-right: 20px;
  height: 80%;
  padding: 5px;
}

header .logo img {
  height: 100%;
  background: white;
}

.alter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 7px 0;
}

.alter span {
  color: #0f0;
  border: 1px solid #0f0;
  padding: 3px;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  border-radius: 4px;
}

.alter span:hover {
  background: #346363;
  color: cyan;
  border-color: cyan;
}

.alter select {
  color: #0f0;
  background: black;
  padding: 6px 33px;
  border-radius: 7px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.alter select:hover {
  border: 2px solid cyan;
}

.alter select-selected {
  background-color: cyan;
}

.alter .title-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alter .title-year {
  color: #0f0;
  padding: 3.5px 9px;
  border: 2px solid white;
  border-right: none;
  border-radius: 7px 0 0 7px;
  margin-right: -5px;
  background: black;
}

.alter .title-month {
  color: #0f0;
  padding: 3.5px 9px;
  border: 2px solid white;
  border-left: none;
  border-radius: 0 7px 7px 0;
  margin-left: -5px;
  background: black;
}

.box-year {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 8px;
  display: grid;
}

.box-year .box {
  color: white;
  width: 100%;
  border: 1px solid cyan;
}

.box-year .box h2 {
  text-align: center;
  border-bottom: 1px solid cyan;
  cursor: pointer;
}

.box-year .box h2:hover {
  background: #346363;
}

.box-year .box .box-content {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(7, 1fr);
  padding: 10px 0;
  align-items: center;
}

.box-year .box-title {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 3px;
  color: #f00;
  text-align: center;
  border-bottom: 1px solid cyan;
}

.box-year .box .box-content .day {
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.box-year .box .box-content .day:hover {
  border: 1px solid cyan;
}

.box-day {
  padding: 20px;
  display: grid;
}

.day-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #888;
  color: white;
  padding: 5px 20px;
  align-items: center;
}

.day-hour {
  color: #f00;
}

.day-content .hour-not-taref {
  padding: 3px;
  color: #fff;
  font-size: 17px;
}

.day-content .hour-is-taref {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 3px 6px;
  cursor: pointer;
  color: #0f0;
  font-size: 17px;
  display: block;
  text-align: center;
  width: 150px;
  font-weight: 400;
}

.day-content .hour-is-taref:hover {
  border: 1px solid cyan;
  background: #346363;
  color: cyan;
}

.day-content .add {
  width: 60px;
  height: 30px;
  color: cyan;
  cursor: pointer;
  background: transparent;
  border: 1px solid cyan;
  font-size: 25px;
}

.day-content .add:hover {
  background: #346363;
  color: #0f0;
  border: 1px solid #0f0;
}

.hour-active {
  background: rgb(108, 89, 89);
}

.box-month {
  display: grid;
}

.month-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 10px 10px;
  color: rgb(255, 0, 0);
  text-align: center;
  border-bottom: 1px solid cyan;
}

.month-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 10px;
}

.month-day {
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  margin: 5px;
  border: 1px solid cyan;
  align-items: center;
}

.month-day.is {
  cursor: pointer;
}

.month-day.is:hover {
  background: #020;
}

.month-day .day-num {
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.month-day .day-taref {
  color: #0f0;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.month-day .day-not-taref {
  color: #fff;
  padding: 5px;
  text-align: center;
}

.box-week {
  flex-direction: column;
  display: grid;
}

.week-container {
  display: flex;
}

.week-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 5px 5px 5px 60px;
  color: #0f0;
  text-align: center;
  background: #000;
}

.week-list.fixe {
  position: fixed;
  top: 0;
  max-width: 1200px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #fff;
}

.week-list span {
  cursor: pointer;
  border-left: 1px solid;
  border-right: 1px solid;
}

.week-list span:hover {
  color: cyan;
  background: #346363;
  font-weight: bold;
}

.box-week .week-hour span {
  display: flex;
  flex-direction: row;
  border-top: 1px solid white;
  padding: 20px 5px;
  color: #f00;
  margin-left: 10px;
}

.box-week .week-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(24, 1fr);
  width: 100%;
}

.box-week .week-content>span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f0;
  cursor: pointer;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
  margin: 5px;
  border: 1px solid cyan;
  position: relative;
}

.box-week .week-content>span .not {
  color: #fff;
}

.box-week .week-content span:hover,
.box-week .week-content span:hover .not {
  background: #346363;
  color: transparent;
}

.box-week .week-content>span .add {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #0f0;
}

.box-week .week-content span:hover .add {
  display: flex;
}

footer {
  background: black;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  background: #222;
  background: rgba(34, 34, 34, 0.7);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.animation .rotate {
  width: 100px;
  height: 100px;
  position: relative;
  border: 20px dotted cyan;
  border-radius: 100px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(380deg);
  }
}

.box-tasks {
  padding: 20px;
}

.task-search {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.task-search select {
  width: 20%;
  border-radius: 10px;
  background: #000;
  color: #0f0;
  cursor: pointer;
  text-align: center;
  border: 2px solid #fff;
  outline: 0;
}

.task-search select:focus {
  text-align: left;
}

.task-search select:hover,
.task-search select:focus {
  color: cyan;
  border: 2px solid cyan
}

.task-search select option {
  color: #fff;
}

.task-search input {
  background: #000;
  color: #fff;
  border-radius: 10px;
  width: 40%;
  padding: 10px 15px;
  border: 2px solid white;
  outline: none;

}

.task-search input:hover,
.task-search input:focus {
  border: 2px solid cyan;
}

.task-search input:hover::placeholder,
.task-search input:focus::placeholder {
  color: cyan;
}

.task-search input::placeholder {
  text-align: center;
  color: #0f0;
}

.task-search button {
  width: 20%;
  background: #000;
  color: #0f0;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
}

.task-search button:hover {
  border: 2px solid cyan;
  color: cyan;
}

.task-month {
  background: #000;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px cyan;
  padding: 7px 18px;
}

.task-month-title {
  color: #0f0;
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
}

.task-month .task {
  color: white;
  display: flex;
  border-top: 1px solid cyan;
  padding: 10px 0;
  justify-content: space-between;
}

.task-left {
  display: flex;
}

.task-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
}

.task-day {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.task-hour {
  font-size: 10px;
  color: #bbb;
}

.task-content {
  display: flex;
  flex-direction: column;
}

.task-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.task-description {
  font-size: 12px;
  color: #bbb;
}

.task-actions .edit,
.task-actions .remove {
  margin-left: 20px;
  cursor: pointer;
}

.task-actions i {
  font-size: 30px;
  color: cyan;
}

.task-actions .edit i:hover {
  color: #0f0;
}

.task-actions .remove i:hover {
  color: #f00;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-container{
  background: rgba(44, 44, 44, 0.8);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-content{
  color:#fff;
  z-index: 3;
  background: #000;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff;
  padding: 10px;
  width: 400px;
  position: relative;
}

.modal-title{
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  border-bottom: 2px solid cyan;
  text-align: center;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.modal-close{
  position: absolute;
  right: -3px;
  top: -8px;
  cursor: pointer;
}

.modal-close:hover{
  color: red;
}

.modal-close i{
  font-size: 25px;
}

.modal-content label{
  font-size: 19px;
}

.modal-content input[type=text],
.modal-content textarea{
  display: block;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  outline: 0;
  border: 2px solid #0f0;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  background: #f8f8ff;
  margin-bottom: 10px;
}

.modal-content input[type=text]::placeholder,
.modal-content textarea::placeholder{
  color: #3f3f3f;
}

.modal-content textarea{
  resize: none;
  height: 95px;
}

.modal-infos{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.modal-erro{
  color: #f00;
  font-style: italic;
  padding: 2px;
}

.modal-date{
  display: flex;
  justify-content: space-around;
}

.modal-content input[type=date],
.modal-content input[type=time],
.modal-content button{
  width: 45%;
  padding: 5px;
  border-radius: 5px;
  outline: 0;
  border: 2px solid #0f0;
  font-size: 15px;
  font-weight: bold;
  background: #f8f8ff;
  text-align: center;  
  cursor: pointer;
  color: #3f3f3f;
}

.modal-content button{
  margin:15px 2% 0 2%;
  width: 96%;
}

.modal-content input:hover,
.modal-content textarea:hover,
.modal-content button:hover{
  border: 2px solid cyan;
  color: cyan;
}

.modal-content textarea:hover::placeholder,
.modal-content input:hover::placeholder{
  color: cyan;
}

.modal-name{
  font-weight: bold;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-desc{
  display: block;
  padding: 0 15px;
  font-style: italic;
  margin-bottom: 10px;
}

button.btn-remove{
  width: 46%;
  border: 2px solid cyan;
}

@media only screen and (max-width: 800px) {

  .box-year{
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 900px) {
.month-day{
  padding: 0;
}

}

@media only screen and (max-width: 600px) {

  .month-day{
    flex-direction: row;
  }
  
}

@media only screen and (max-width: 500px) {

  .box-year{
    grid-template-columns: auto;
  }

 


}